<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rafavilchez.persistence.impl.DescuentosAlumnosMapper">

    <resultMap id="descuentosAlumnosResult" type="com.rafavilchez.model.impl.DescuentosAlumnos" extends="com.rafavilchez.persistence.DescuentosAlumnosBaseMapper.BaseResultMap">
    </resultMap>

    <resultMap id="descuentosAlumnosResultCompleto" type="com.rafavilchez.model.impl.DescuentosAlumnos" extends="com.rafavilchez.persistence.DescuentosAlumnosBaseMapper.BaseResultMap">
        <association property="descuento" column="{idDescuento=idDescuento}" javaType="com.rafavilchez.model.impl.Descuento" select="com.rafavilchez.persistence.impl.DescuentoMapper.getDescuentoPorId"/>
        <association property="asignatura" column="{idAsignatura=idAsignatura}" javaType="com.rafavilchez.model.impl.Asignatura" select="com.rafavilchez.persistence.impl.AsignaturaMapper.getAsignaturaPorId"/>
        <association property="alumno" column="{idAlumno=idAlumno}" javaType="com.rafavilchez.model.impl.Alumno" select="com.rafavilchez.persistence.impl.AlumnoMapper.getAlumnoPorId"/>
    </resultMap>

    <resultMap id="descuentosAlumnosResultSinAlumno" type="com.rafavilchez.model.impl.DescuentosAlumnos" extends="com.rafavilchez.persistence.DescuentosAlumnosBaseMapper.BaseResultMap">
        <association property="descuento" column="{idDescuento=idDescuento}" javaType="com.rafavilchez.model.impl.Descuento" select="com.rafavilchez.persistence.impl.DescuentoMapper.getDescuentoPorId"/>
        <association property="asignatura" column="{idAsignatura=idAsignatura}" javaType="com.rafavilchez.model.impl.Asignatura" select="com.rafavilchez.persistence.impl.AsignaturaMapper.getAsignaturaPorId"/>
    </resultMap>

    <resultMap id="descuentosAlumnosResultDescuento" type="com.rafavilchez.model.impl.DescuentosAlumnos" extends="com.rafavilchez.persistence.DescuentosAlumnosBaseMapper.BaseResultMap">
        <association property="descuento" column="{idDescuento=idDescuento}" javaType="com.rafavilchez.model.impl.Descuento" select="com.rafavilchez.persistence.impl.DescuentoMapper.getDescuentoPorId"/>
    </resultMap>

    <select id="getPorIdAlumno" resultMap="descuentosAlumnosResultCompleto"  parameterType="map" >
        select da.*
        from descuentos_alumnos da
        where da.idAlumno = ${idAlumno}
    </select>

    <select id="getPorIdAsignaturaIdAlumno" resultMap="descuentosAlumnosResultDescuento"  parameterType="map" >
        select da.*
        from descuentos_alumnos da
        where da.idAsignatura = ${idAsignatura}
        and da.idAlumno = ${idAlumno}
    </select>

    <select id="getDescuentosExtraPorIdAlumno" resultMap="descuentosAlumnosResultDescuento"  parameterType="map" >
        select da.*
        from descuentos_alumnos da
        where da.idAlumno = ${idAlumno}
        and (da.idDescuento = '1' or da.idDescuento = '4')
    </select>

    <select id="getDescuentoAmigoPorIdAlumno" resultMap="descuentosAlumnosResultCompleto"  parameterType="map" >
        select da.*
        from descuentos_alumnos da
        where da.idAlumno = ${idAlumno}
        and da.idDescuento = '1'
    </select>

    <delete id="eliminarDescuentos" parameterType="map">
        delete from descuentos_alumnos
        where idAlumno = ${idAlumno}
        and idAsignatura = ${idAsignatura}
    </delete>

</mapper>