<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rafavilchez.persistence.AlumnoAsignaturaBaseMapper" >
  <resultMap id="BaseResultMap" type="com.rafavilchez.model.AlumnoAsignaturaBase" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="idAlumno" property="idAlumno" jdbcType="INTEGER" />
    <result column="idAsignatura" property="idAsignatura" jdbcType="INTEGER" />
    <result column="fecha_inicio" property="fecha_inicio" jdbcType="DATE" />
    <result column="fecha_fin" property="fecha_fin" jdbcType="DATE" />
    <result column="importeEditado" property="importeEditado" jdbcType="REAL" />
    <result column="fechaMod" property="fechaMod" jdbcType="DATE" />
    <result column="observaciones" property="observaciones" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, idAlumno, idAsignatura, fecha_inicio, fecha_fin, importeEditado, fechaMod, observaciones
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.rafavilchez.model.AlumnoAsignaturaBaseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from alumno_asignatura
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from alumno_asignatura
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from alumno_asignatura
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.rafavilchez.model.AlumnoAsignaturaBaseExample" >
    delete from alumno_asignatura
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rafavilchez.model.AlumnoAsignaturaBase" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into alumno_asignatura (idAlumno, idAsignatura, fecha_inicio, 
      fecha_fin, importeEditado, fechaMod, 
      observaciones)
    values (#{idAlumno,jdbcType=INTEGER}, #{idAsignatura,jdbcType=INTEGER}, #{fecha_inicio,jdbcType=DATE}, 
      #{fecha_fin,jdbcType=DATE}, #{importeEditado,jdbcType=REAL}, #{fechaMod,jdbcType=DATE}, 
      #{observaciones,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.rafavilchez.model.AlumnoAsignaturaBase" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into alumno_asignatura
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idAlumno != null" >
        idAlumno,
      </if>
      <if test="idAsignatura != null" >
        idAsignatura,
      </if>
      <if test="fecha_inicio != null" >
        fecha_inicio,
      </if>
      <if test="fecha_fin != null" >
        fecha_fin,
      </if>
      <if test="importeEditado != null" >
        importeEditado,
      </if>
      <if test="fechaMod != null" >
        fechaMod,
      </if>
      <if test="observaciones != null" >
        observaciones,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idAlumno != null" >
        #{idAlumno,jdbcType=INTEGER},
      </if>
      <if test="idAsignatura != null" >
        #{idAsignatura,jdbcType=INTEGER},
      </if>
      <if test="fecha_inicio != null" >
        #{fecha_inicio,jdbcType=DATE},
      </if>
      <if test="fecha_fin != null" >
        #{fecha_fin,jdbcType=DATE},
      </if>
      <if test="importeEditado != null" >
        #{importeEditado,jdbcType=REAL},
      </if>
      <if test="fechaMod != null" >
        #{fechaMod,jdbcType=DATE},
      </if>
      <if test="observaciones != null" >
        #{observaciones,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rafavilchez.model.AlumnoAsignaturaBaseExample" resultType="java.lang.Integer" >
    select count(*) from alumno_asignatura
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update alumno_asignatura
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.idAlumno != null" >
        idAlumno = #{record.idAlumno,jdbcType=INTEGER},
      </if>
      <if test="record.idAsignatura != null" >
        idAsignatura = #{record.idAsignatura,jdbcType=INTEGER},
      </if>
      <if test="record.fecha_inicio != null" >
        fecha_inicio = #{record.fecha_inicio,jdbcType=DATE},
      </if>
      <if test="record.fecha_fin != null" >
        fecha_fin = #{record.fecha_fin,jdbcType=DATE},
      </if>
      <if test="record.importeEditado != null" >
        importeEditado = #{record.importeEditado,jdbcType=REAL},
      </if>
      <if test="record.fechaMod != null" >
        fechaMod = #{record.fechaMod,jdbcType=DATE},
      </if>
      <if test="record.observaciones != null" >
        observaciones = #{record.observaciones,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update alumno_asignatura
    set id = #{record.id,jdbcType=INTEGER},
      idAlumno = #{record.idAlumno,jdbcType=INTEGER},
      idAsignatura = #{record.idAsignatura,jdbcType=INTEGER},
      fecha_inicio = #{record.fecha_inicio,jdbcType=DATE},
      fecha_fin = #{record.fecha_fin,jdbcType=DATE},
      importeEditado = #{record.importeEditado,jdbcType=REAL},
      fechaMod = #{record.fechaMod,jdbcType=DATE},
      observaciones = #{record.observaciones,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rafavilchez.model.AlumnoAsignaturaBase" >
    update alumno_asignatura
    <set >
      <if test="idAlumno != null" >
        idAlumno = #{idAlumno,jdbcType=INTEGER},
      </if>
      <if test="idAsignatura != null" >
        idAsignatura = #{idAsignatura,jdbcType=INTEGER},
      </if>
      <if test="fecha_inicio != null" >
        fecha_inicio = #{fecha_inicio,jdbcType=DATE},
      </if>
      <if test="fecha_fin != null" >
        fecha_fin = #{fecha_fin,jdbcType=DATE},
      </if>
      <if test="importeEditado != null" >
        importeEditado = #{importeEditado,jdbcType=REAL},
      </if>
      <if test="fechaMod != null" >
        fechaMod = #{fechaMod,jdbcType=DATE},
      </if>
      <if test="observaciones != null" >
        observaciones = #{observaciones,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rafavilchez.model.AlumnoAsignaturaBase" >
    update alumno_asignatura
    set idAlumno = #{idAlumno,jdbcType=INTEGER},
      idAsignatura = #{idAsignatura,jdbcType=INTEGER},
      fecha_inicio = #{fecha_inicio,jdbcType=DATE},
      fecha_fin = #{fecha_fin,jdbcType=DATE},
      importeEditado = #{importeEditado,jdbcType=REAL},
      fechaMod = #{fechaMod,jdbcType=DATE},
      observaciones = #{observaciones,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>